* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #e0e0e0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rosybrown;
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 999;
}

#loginbtn {
  width: 65px;
  height: 30px;
  margin-right: 50px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  font-size: 0.9rem;
}

#loginbtn a {
  text-decoration: none;
  color: #000;
}

#logo {
  height: 70px;
  width: 70px;
  margin-left: 25px;
}


#loginbox {
  min-width: 38%;
  max-height: 40%;
  position: absolute;
  top: 6%;
  left: 33%;
  right: 31%;
  background-color: white;
  border-radius: 5px;
  display: none;
  box-sizing: border-box;
  z-index: 9999;
  overflow: hidden;
}

#please-login {
  margin: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#cross {
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}

#frombox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.form {
  margin: 2%;
  display: flex;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  justify-content: space-evenly;
}

.form input {
  font-size: 1rem;
  height: 24px;
  border-radius: 4px;
}

#loginboxbtn {
  width: 20%;
  height: 30px;
  background-color: rgb(20, 169, 228);
  border-radius: 3px;
  border: none;
  margin-top: 8px;
  font-size: 1rem;
}

#loginboxbtn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#loginboxdiv {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer {
  width: 100vw;
  height: 8vh;
  background-color: rosybrown;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#contentus {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contactbtn {
  width: 90px;
  height: 29px;
  background-color: rgb(9, 120, 163);
  border: none;
  border-radius: 3px;
  font-size: 0.9rem;
}

#contactbtn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#copyright {
  font-size: 14px;
}

.s-img {
  width: 20px;
  height: 20px;
}

#contactusbox {
  min-width: 40%;
  max-height: 40%;
  position: absolute;
  top: 6%;
  left: 33%;
  right: 31%;
  background-color: white;
  border-radius: 5px;
  display: none;
  z-index: 9999;
  overflow: hidden;
}

#get-touch {
  margin: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contactfrom {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
}

.email {
  margin-left: 20px;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 2%;
}

.email p {
  margin-top: 5px;
}

.email input {
  font-size: 1rem;
  height: 27px;
  border-radius: 4px;
}

#contactboxbtn {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

#contactsubmitbtn {
  width: 18%;
  height: 33px;
  background-color: rgb(20, 169, 228);
  border-radius: 3px;
  border: none;
  margin-top: 8px;
}

#contactsubmitbtn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


