html,body{
    margin: 0;
    width: 100%;
    height: 100%;   
    background-color: #e0e0e0;
    font-family: 'ubuntu',sans-serif;
}

.main{
    width:100%;
    min-height: 100vh;      
    padding-top: 64px;
    padding-bottom: 46px;

}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a{
    padding-right: 10px;
}

.logo{
    height: 60px;
    width: 60px;
}



.hotel-image{
    height: 500px;
    width: 500px;
    margin: 2%  4% 0 4% ;
}

.form{
    margin: 0  4% 1% 4%;
}
.description{
    margin: 1% 4% 2% 4% ;
}

.social-image{
    height: 20px;
    width: 22px;
}

footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 46px;
   background-color: rosybrown;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.contact{
    padding-left: 10px;
}


a{
    text-decoration: none;
    color: black;
}

.social{
    padding-right: 10px;
}
footer p{
    margin-top: 35px;
    font-size: 10px;
    
}
