html,body{
    margin: 0;
    width: 100%;
    height: 100%;   
    background-color: #e0e0e0;
    font-family: 'ubuntu',sans-serif !important;
}

.main{
    width:100%;
    min-height: 100vh;      
    padding-top: 64px;
    padding-bottom: 46px;

}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}


.login{
    margin-right: 2%;
}

header button{   
    margin-right: 2% !important;
}

.logo{
    height: 60px;
    width: 60px;
 
}


.container-1{
    margin: 1% !important;
    min-height: 400px !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    border: 1px solid black;
    padding: 0;
    
}

.content-img{
display: flex !important;
justify-content: center !important;
align-items: center !important;
flex-grow: 3 !important;
border-right:1px solid black ;
}

.content-form{
flex-grow: 1 !important;
display: flex !important;
justify-content: space-evenly !important;

}

.hotel-image{
    max-height: 350px;
    width: 500px;
    
}

.form1{
    display: flex !important;
    align-content: space-around !important; 
}

.wrapper{
    list-style-type: none !important;
    height: inherit !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;

}
.form-row{
    display:flex !important; 
    justify-content:space-between !important;
}

.form-row-button{
    display:flex;
    justify-content: center;
}

.form-row label{
    flex: 1 !important;
} 

 .form-row input{
    flex: 1 !important;
}

form input{
    width: 60% !important;
}


.description{
    margin: 1% 4% 2% 4% ;
}

.social-image{
    height: 20px;
    width: 22px;
}

footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 46px;
   background-color: rosybrown;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.contact{
    margin-left: 2%;
}


a{
    text-decoration: none;
    color: black !important;
}

.social{
    padding-right: 10px;
    margin-right: 2%;
}

footer .copy-right{
    
    font-size: 10px !important;
}

.copy-right P{
    margin: 0 !important;
}
.heading{
    font-family: cursive !important;
    /* font-weight: bold; */
}

.stars .color{
    color: orange;
}





