* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#detailcontent {
  width: 100vw;
  height: auto;
}

#detailformbox {
  width: 90vw;
  height: 70vh;
  margin: 10% auto 2% auto;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#detailboxslider {
  width: 60%;
  height: 100%;
  border-right: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#containerslider {
  width: 70%;
  height: 90%;
  overflow: hidden;
  border: 2px solid;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.slider img {
  width: 100%;
  height: 100%;
  
}

#next {
  position: absolute;
  right: 4%;
  z-index: 55;
}

#previous {
  position: absolute;
  left: 4%;
  z-index: 55;
}

.arrow {
  font-size: 3rem;
  color: rgb(161, 161, 161);
  margin: 5%;
  cursor: pointer;
}

.arrow:hover {
  color: rgb(87, 85, 85);
}


#detailboxform {
  width: 40%;
  height: 100%;
}

#detailboxformdiv2 {
  width: 93%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.formaitam {
  width: 80%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.formaitam input {
  width: 50%;
  height: 65%;
}

#bookbtn {
  width: 80px;
  height: 30px;
  color: green;
  font-weight: bold;
  border: 1px solid green;
  overflow: hidden;
}

#bookbtn:hover {
  color: white;
  background-color: green;
  overflow: hidden;
}

#discriptionbox {
  width: 100vw;
  height: 61vh;
  margin-bottom: 8%;
}

#hoteldiscription {
  width: 90%;
  height: 100%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

#dott {
  list-style: disc inside;
  padding-left: 1%;
}

.checked {
  color: orange;
  font-size: 1.5rem;
}





