

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rosybrown;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

header img{
    margin-left:1% ;
}

header a{
    margin-right: 2%;
}
header button{   
    margin-right: 2% !important;
}

.main{ 
    width:100%;
    min-height: 100vh; 
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-bottom: 64px;
    display: flex;
    align-content: space-evenly;
    flex-direction: column; */
}

.logo{
    height: 60px;
    width: 60px;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}


.search-bar{ 
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#search{
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 380px;
    height: 9%;
}

#search:focus{
    outline: none;
}

.city-cards{
    /* height: 100%; */
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-direction:column;
    flex-wrap: wrap;
     */
}
.city-cards img{
    box-shadow: 10px 10px 10px 0 grey;
}
.city-image{   
    width: 150px;
    height: 150px;
    border-radius: 25%;
    
}


.image-overlay{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}


.overlay{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

.overlay a{
    color: white;
}

.image-overlay:hover{
    opacity: 1;
    color: white !important;
}


.social-image{
    height: 20px;
    width: 22px;
}

.view-more{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.view-more a{
    text-decoration: none;
    color: black;
}



 