html,body{
    margin: 0;
    width: 100%;
    min-height: 100vh;  
    background-color: #e0e0e0; 
    font-family: 'ubuntu',sans-serif;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a{
    padding-right: 10px;
    
}

.main{
    width:100%;
    min-height: 100vh; 
    padding-top: 60px;
    padding-bottom: 64px;
}

.logo{
    height: 60px;
    width: 60px;
}

.search-bar{ 
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search{
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 380px;
}

.city-cards{
    margin: 0 15%;   
}

.city-image{  

    width: 150px;
    height: 150px;
    padding: 4%;
    border-radius: 25%;
}

.social-image{
    height: 20px;
    width: 22px;
}

.view-more{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
   background-color: rosybrown;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}


.contact{
    padding-left: 10px;
}


a{
    text-decoration: none;
    color: black;
}

.social{
    padding-right: 10px;
}

footer p{
    margin-top: 35px;
    font-size: 10px;
    margin-bottom: 0;
}

