html,body{
    margin: 0;
    width: 100%;
    min-height: 100vh;  
    background-color: #e0e0e0; 
    font-family: 'ubuntu',sans-serif;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

header img{
    margin-left:1% ;
}

header a{   
    margin-right: 2%;
}

.main{ 
    width:100%;
    min-height: 100vh; 
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo{
    height: 60px;
    width: 60px;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}


.search-bar{ 
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#search{
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 380px;
    height: 6%;
}

#search:focus{
    outline: none;
}

.city-cards{
    
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
   
.city-cards img{
    box-shadow: 10px 10px 10px 0 grey;
}
.city-image{   
    width: 150px;
    height: 150px;
    border-radius: 25%;
    
}


.image-overlay{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}


.overlay{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

.overlay a{
    color: white;
}

.image-overlay:hover{
    opacity: 1;
    color: white;
}


.social-image{
    height: 20px;
    width: 22px;
}

.view-more{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
   background-color: rosybrown;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}


.contact{
    padding-left: 10px;
    margin-left: 2%;
}


a{
    text-decoration: none;
    color: black;
}

.social{
    padding-right: 10px;
    margin-right: 2%;
}

footer p{
    font-size: 10px;
}

