html,body{
    margin: 0;
    width: 100%;
    height: 100%;   
    background-color: #e0e0e0;
}

header{
    background-color: rosybrown;
}

.main{
    width:100%;
    min-height: 100%;       
}

.logo{
    height: 60px;
    width: 60px;
}

#list-view{
    margin: 2%;
    
}
#list-view div{
    background-color: rgb(132, 136, 139);
    width: 40%;
}
.city-image{
    height: 150px;
    width: 150px;
    
}

.social-image{
    height: 20px;
    width: 22px;
}

footer{
    background-color: rosybrown;
}