* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #e0e0e0;
}



#paymentcontent {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#selecthoteldiv {
  width: 55vw;
  height: auto;
  background-color: gray;
  margin-top: 12%;
  display: flex;
}

#hoteldetail {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 7%;
  padding-left: 3%;
  box-sizing: border-box;
}

#hoteldetail p {
  font-size: 1rem;
}

#hoteldetail h1 {
  font-size: 2rem;
}

#selecthoteldiv img {
  width: 45%;
  height: 100%;
}

#hotelpaymentdiv {
  width: 90vw;
  height: 205px;
  border: 2px solid rgba(0, 0, 0, 0.589);
  margin: 2% 0% 10% 0%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rosybrown;
  border-radius: 5px;
}

.clinetdetial {
  font-weight: bold;
}

.clientpayment1 {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clientpayment2 {
  min-width: 35%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
}

.clientpayment3 {
  width: 17%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#paynowbtn {
  width: 40%;
  height: 27px;
  background-color: rgb(72, 173, 72);
  border: 1px solid rgb(72, 173, 72);
  border-radius: 3px;
  color: white;
}


